# Shell function to find all the certificates that are attached to a particular hostname
# Usage: allthecerts <hostname> -> "allthecerts mathworks.com"
allthecerts() {
  openssl crl2pkcs7 -nocrl -certfile <( openssl s_client -showcerts -host "$1" -port 443 </dev/null 2>/dev/null | awk '/BEGIN/,/END/' ) | openssl pkcs7 -print_certs -text
}

# Shell function to find whether a specific CVE is present in a Docker image using grype
# Usage: grypecve <docker-image> <CVE-ID> -> "grypecve node:ubuntu24.04 CVE-2025-9086"
grypecve() {
  grype "$1" -q -o json | jq --arg cve "$2" '.matches[] | select(.vulnerability.id==$cve)' | (grep . || echo "CVE not found")
}

# Shell function to switch current AWS profile (from .aws/credentials) and region (OPTIONAL)
# Usage: awschprofile <aws-profile-name> <region-name> -> "awschprofile devops-prod us-east-1"
awschprofile() {
  export AWS_PROFILE=$1
  if [ "$#" = 2 ]; then
    export AWS_REGION=$2
  fi
}

# Shell function for SSH-ing to an EC2 instance using AWS EC2 Instance Connect given the instance ID and username (OPTIONAL). Default username is ubuntu
# Usage: awsec2instanceconnect <instance-id> <username> -> "awsec2instanceconnect i-232249483sde83 ubuntu"
awsec2instanceconnect() {
  echo "Remember to add EC2 Instance Connect Security Group ID as an inbound security rule to the EC2 instance that you're trying to connect to via the AWS UI"
  echo "Try automating this via this Shell function in the future once the design is finalized, in which case you also need to create a clean-up shell function to remove the rule"
  user="ubuntu"
  if [ "$#" = 2 ]; then
    user=$2
  fi
  aws ec2-instance-connect ssh --instance-id "$1" --os-user "$user" --connection-type eice
}

# Shell function to login to an EKS cluster given the AWS profile (OPTIONAL) and cluster name
# Usage: awsekslogin <eks-cluster-name> <aws-profile-name> -> "awsekslogin ci-cluster devops-prod"
# If profile-name is not provided, then the current AWS profile will be used instead
awsekslogin() {
  name=$1
  profile=$2
  if [ "$#" = 1 ]; then
    profile=$AWS_PROFILE
    name=$2
  fi
  aws eks update-kubeconfig --profile "$profile" --name "$name"
}
